.deliver-container {
  background: #f5f5f5;
  padding: 10px 10px;
}

.deliver {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 390px;
  &__left {
    color: #666666;
    font-weight: 400;
    font-size: 14px;
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      margin-right: 10px;
    }
    &__location {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #d9d9d9;
      padding: 0 10px;
    }
    &__deliver {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #d9d9d9;
      padding: 0 10px;
    }
    &__discount {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
