.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.product {
  padding-top: 40px;
  &-card {
    border: 1px solid #ededed;
    border-radius: 16px;
    min-width: 250px;
    min-height: 300px;
    &__desc {
      position: relative;
      background-color: #ededed;
      border-radius: 16px;
      padding: 10px 0px;
      min-height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__img {
        img {
          object-fit: cover;
        }
      }
      &__discount {
        position: absolute;
        top: 0;
        right: 0;
        background: #008ecc;
        padding: 4px;
        border-radius: 0px 16px;
        word-wrap: break-word;
        width: 50px;
        text-align: center;
        color: #ffffff;
      }
    }
    &__info {
      padding: 10px;
      &__name {
        color: #222222;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 10px;
        width: 100%;
      }
      &__price {
        color: #222222;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 10px;
        span {
          font-weight: 400;
          color: #222222;
          text-decoration-line: line-through;
          margin-left: 10px;
        }
      }
      &__disc {
        margin-top: 10px;
        border-top: 1px solid #ededed;
        &__text {
          margin-top: 10px;
          a {
            text-decoration: none;
            font-weight: 600;
            color: #249b3e;
            font-size: 16px;
          }
        }
      }
    }
  }
}
